__pycache__/
tests/cache/
docs/notebooks/cache/
docs/otherExamples/cache/
docs/data/
docs/cache/
docs/output/
docs/notebooks/.ipynb_checkpoints/
docs/otherExamples/.ipynb_checkpoints/
cache/

.temp
.pytest_cache

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
 
*.log
*.sql
*.sqlite
 
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/_build/
docs/generated/
docs/api/
/city_dual_graphs
/city_graphs
/city_partitions
network_metrics/partition_circuity_edges_all_cities.dill
network_metrics/partition_edge_density_all_cities.dill
network_metrics/partition_intersection_density_nodes_all_cities.dill
network_metrics/partition_node_degrees_all_cities.gpkg
network_metrics/partition_orientation_entropy_edges_all_cities.dill
/network_metrics
street_network_clusters_k5.csv
topology_classification_model.dill
*.png
/data
clustering_data.dill
*.dill
partition_gdf
scored_schemes_with_taxonomy.csv
